# Data Mining Project
### Giorgio Donati, g.donati24@studenti.unipi.it
### Pietro Francaviglia, p.francaviglia1@studenti.unipi.it
#### A.Y. 2021-2022

# Libraries and datasets

In [1]:
import math
import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt
import seaborn as sns
import pickle

from col_names import *

# Clustering

In [2]:
with open(f'{PICKLE_FOLDER}basket_prepared_df.pkl', 'rb') as f:
    b_df = pickle.load(f)
with open(f'{PICKLE_FOLDER}item_prepared_df.pkl', 'rb') as f:
    i_df = pickle.load(f)
with open(f'{PICKLE_FOLDER}user_prepared_df.pkl', 'rb') as f:
    u_df = pickle.load(f)
with open(f'{PICKLE_FOLDER}shop_prepared_df.pkl', 'rb') as f:
    s_df = pickle.load(f)
with open(f'{PICKLE_FOLDER}date_prepared_df.pkl', 'rb') as f:
    d_df = pickle.load(f)

## Shop rankings

In [ ]:
def ranking(col, ranks, df):
    df

In [20]:
ranks = np.ceil(1 + (10 / 3) * np.log10(len(s_df))).astype(int)
s_df[APR] = pd.qcut(s_df[PAVG],q =ranks, labels=range(ranks))
s_df.groupby(APR).count()

,shop_id,total_price,item_count,item_dist_count,basket_count,category_count,price_avg
average_price_ranking,,,,,,,
0,9,9,9,9,9,9,9
1,8,8,8,8,8,8,8
2,8,8,8,8,8,8,8
3,9,9,9,9,9,9,9
4,8,8,8,8,8,8,8
5,8,8,8,8,8,8,8
6,9,9,9,9,9,9,9