# Data Mining Project
### Giorgio Donati, g.donati24@studenti.unipi.it
### Pietro Francaviglia, p.francaviglia1@studenti.unipi.it
#### A.Y. 2021-2022

## Libraries and datasets

In [1]:
import math
import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt

In [2]:
# load datasets
basket_df = pd.read_csv('datasets/baskets_supermarket.csv')
categories_df = pd.read_csv('datasets/item_categories.csv')
items_df = pd.read_csv('datasets/items.csv')

## Basket dataset

In [3]:
# basket_df.head()

In [23]:
basket_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 504087 entries, 0 to 504086
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Unnamed: 0    504087 non-null  int64
 1   date          352861 non-null  datetime64[ns]
 2   shop_id       469023 non-null  Int64
 3   item_id       405085 non-null  Int64
 4   item_price    451795 non-null  float64
 5   item_cnt_day  497039 non-null  Int64
 6   user_id       433351 non-null  Int64
 7   basket_id     437967 non-null  object
dtypes: Int64(4), datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 32.7+ MB

### Cleaning ID columns

In [5]:
non_floating_attributes = ['shop_id', 'item_id', 'item_cnt_day', 'user_id']
for col in non_floating_attributes:
    basket_df[col] = basket_df[col].astype('Int64')

basket_df['date'] = pd.to_datetime(basket_df['date'])
    
basket_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 504087 entries, 0 to 504086
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Unnamed: 0    504087 non-null  int64
 1   date          352861 non-null  datetime64[ns]
 2   shop_id       469023 non-null  Int64
 3   item_id       405085 non-null  Int64
 4   item_price    451795 non-null  float64
 5   item_cnt_day  497039 non-null  Int64
 6   user_id       433351 non-null  Int64
 7   basket_id     437967 non-null  object
dtypes: Int64(4), datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 32.7+ MB

#### Subset with basket_id

In [6]:
stored_basket_df = basket_df[basket_df['basket_id'].notna()]
stored_basket_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 437967 entries, 0 to 504086
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Unnamed: 0    437967 non-null  int64
 1   date          306631 non-null  datetime64[ns]
 2   shop_id       407650 non-null  Int64
 3   item_id       352049 non-null  Int64
 4   item_price    392583 non-null  float64
 5   item_cnt_day  431863 non-null  Int64
 6   user_id       376422 non-null  Int64
 7   basket_id     437967 non-null  object
dtypes: Int64(4), datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 31.7+ MB

In [ ]:
def integrate(int_attr, gr_attr, df):
    df[int_attr] = df.groupby(gr_attr)[int_attr].apply(lambda x: x.fillna(x.mode().iloc[0] if len(x.mode()) == 1 else x))

In [7]:
basket_dependent_attributes = ['date', 'shop_id', 'user_id']
for attr in basket_dependent_attributes:
    integrate(attr, 'basket_id', stored_basket_df)

stored_basket_df = stored_basket_df.dropna(subset=basket_dependent_attributes, thresh=2)
    
stored_basket_df.info()

/tmp/ipykernel_170398/1986717141.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[int_attr] = df.groupby(gr_attr)[int_attr].apply(lambda x: x.fillna(x.mode().iloc[0] if len(x.mode()) == 1 else x))
/tmp/ipykernel_170398/1986717141.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[int_attr] = df.groupby(gr_attr)[int_attr].apply(lambda x: x.fillna(x.mode().iloc[0] if len(x.mode()) == 1 else x))

<class 'pandas.core.frame.DataFrame'>
Int64Index: 437708 entries, 0 to 504086
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Unnamed: 0    437708 non-null  int64
 1   date          435787 non-null  datetime64[ns]
 2   shop_id       437524 non-null  Int64
 3   item_id       351844 non-null  Int64
 4   item_price    392353 non-null  float64
 5   item_cnt_day  431606 non-null  Int64
 6   user_id       437212 non-null  Int64
 7   basket_id     437708 non-null  object
dtypes: Int64(4), datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 31.7+ MB

/tmp/ipykernel_170398/1986717141.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[int_attr] = df.groupby(gr_attr)[int_attr].apply(lambda x: x.fillna(x.mode().iloc[0] if len(x.mode()) == 1 else x))

In [8]:
stored_basket_df[stored_basket_df['date'].isna()]

,Unnamed: 0,date,shop_id,item_id,item_price,item_cnt_day,user_id,basket_id
1564,1340496,NaT,2,13039,NaN,1,71,B1271
1932,1361323,NaT,19,16057,619.0,1,96,B296
2565,1323227,NaT,38,13488,11990.0,1,120,B2120
5255,177805,NaT,10,<NA>,257.0,1,250,B74250
5256,175910,NaT,10,15830,435.0,1,250,B74250
...,...,...,...,...,...,...,...,...
501452,2128446,NaT,50,9399,299.0,1,60,B5236649
501453,2128755,NaT,50,4997,3199.0,1,60,B5236649
501454,2128459,NaT,50,<NA>,199.0,1,60,B5236649
501882,2111135,NaT,58,17527,199.0,1,397,B8636684
503847,1238199,NaT,41,5672,NaN,1,761,B8636804

#### Subset without basket_id

In [10]:
null_basket_df = basket_df[basket_df['basket_id'].isna()]

key_columns = ['date', 'shop_id', 'user_id']

null_basket_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 66120 entries, 20 to 504077
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    66120 non-null  int64
 1   date          46230 non-null  datetime64[ns]
 2   shop_id       61373 non-null  Int64
 3   item_id       53036 non-null  Int64
 4   item_price    59212 non-null  float64
 5   item_cnt_day  65176 non-null  Int64
 6   user_id       56929 non-null  Int64
 7   basket_id     0 non-null      object
dtypes: Int64(4), datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 4.8+ MB

In [11]:
null_basket_df = null_basket_df.dropna(subset=key_columns)
null_basket_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 36987 entries, 61 to 504077
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    36987 non-null  int64
 1   date          36987 non-null  datetime64[ns]
 2   shop_id       36987 non-null  Int64
 3   item_id       29726 non-null  Int64
 4   item_price    33150 non-null  float64
 5   item_cnt_day  36454 non-null  Int64
 6   user_id       36987 non-null  Int64
 7   basket_id     0 non-null      object
dtypes: Int64(4), datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 2.7+ MB

In [12]:
null_basket_df['new_id'] = null_basket_df.groupby(key_columns).ngroup()
new_basket_df = null_basket_df[null_basket_df.duplicated(subset=['new_id'], keep=False)]
new_basket_df['basket_id'] = 'R' + null_basket_df['new_id'].astype(str)
new_basket_df = new_basket_df.drop('new_id', 1)
new_basket_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27748 entries, 61 to 504051
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    27748 non-null  int64
 1   date          27748 non-null  datetime64[ns]
 2   shop_id       27748 non-null  Int64
 3   item_id       22323 non-null  Int64
 4   item_price    24897 non-null  float64
 5   item_cnt_day  27342 non-null  Int64
 6   user_id       27748 non-null  Int64
 7   basket_id     27748 non-null  object
dtypes: Int64(4), datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 2.0+ MB

/tmp/ipykernel_170398/1560577927.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_basket_df['basket_id'] = 'R' + null_basket_df['new_id'].astype(str)
/tmp/ipykernel_170398/1560577927.py:4: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  new_basket_df = new_basket_df.drop('new_id', 1)

In [13]:
single_basket_df = null_basket_df.drop_duplicates(subset=['new_id'], keep=False)
single_basket_df = single_basket_df.drop('new_id', 1)
single_basket_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9239 entries, 121 to 504077
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    9239 non-null   int64
 1   date          9239 non-null   datetime64[ns]
 2   shop_id       9239 non-null   Int64
 3   item_id       7403 non-null   Int64
 4   item_price    8253 non-null   float64
 5   item_cnt_day  9112 non-null   Int64
 6   user_id       9239 non-null   Int64
 7   basket_id     0 non-null      object
dtypes: Int64(4), datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 685.7+ KB

/tmp/ipykernel_170398/1571569312.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  single_basket_df = single_basket_df.drop('new_id', 1)

In [14]:
restoring_basket_df = pd.concat([stored_basket_df, single_basket_df])
restoring_basket_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 446947 entries, 0 to 504077
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Unnamed: 0    446947 non-null  int64
 1   date          445026 non-null  datetime64[ns]
 2   shop_id       446763 non-null  Int64
 3   item_id       359247 non-null  Int64
 4   item_price    400606 non-null  float64
 5   item_cnt_day  440718 non-null  Int64
 6   user_id       446451 non-null  Int64
 7   basket_id     437708 non-null  object
dtypes: Int64(4), datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 32.4+ MB

In [17]:
integrate('basket_id', key_columns, restoring_basket_df)
restoring_basket_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 446947 entries, 0 to 504077
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Unnamed: 0    446947 non-null  int64
 1   date          445026 non-null  datetime64[ns]
 2   shop_id       446763 non-null  Int64
 3   item_id       359247 non-null  Int64
 4   item_price    400606 non-null  float64
 5   item_cnt_day  440718 non-null  Int64
 6   user_id       446451 non-null  Int64
 7   basket_id     443752 non-null  object
dtypes: Int64(4), datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 32.4+ MB

In [20]:
restoring_basket_df = restoring_basket_df.dropna(subset='basket_id')
restoring_basket_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 443752 entries, 0 to 504077
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Unnamed: 0    443752 non-null  int64
 1   date          443752 non-null  datetime64[ns]
 2   shop_id       443752 non-null  Int64
 3   item_id       356678 non-null  Int64
 4   item_price    397745 non-null  float64
 5   item_cnt_day  437568 non-null  Int64
 6   user_id       443752 non-null  Int64
 7   basket_id     443752 non-null  object
dtypes: Int64(4), datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 32.2+ MB

#### Merging subsets

In [21]:
clean_basket_df = pd.concat([restoring_basket_df, new_basket_df])
clean_basket_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 471500 entries, 0 to 504051
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Unnamed: 0    471500 non-null  int64
 1   date          471500 non-null  datetime64[ns]
 2   shop_id       471500 non-null  Int64
 3   item_id       379001 non-null  Int64
 4   item_price    422642 non-null  float64
 5   item_cnt_day  464910 non-null  Int64
 6   user_id       471500 non-null  Int64
 7   basket_id     471500 non-null  object
dtypes: Int64(4), datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 34.2+ MB

## Other datasets

In [16]:
categories_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84 entries, 0 to 83
Data columns (total 2 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   item_category_name  84 non-null     object
 1   item_category_id    84 non-null     int64
dtypes: int64(1), object(1)
memory usage: 1.4+ KB

In [17]:
items_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22170 entries, 0 to 22169
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   item_name         22170 non-null  object
 1   item_id           22170 non-null  int64
 2   item_category_id  22170 non-null  int64
dtypes: int64(2), object(1)
memory usage: 519.7+ KB

In [18]:
df = pd.DataFrame([[4,9],[4,3],[4,9],[4,3],[4, np.nan],[3,1],[3,np.nan],[2,np.nan],[np.nan,2], [np.nan,3]], columns=['A', 'B'])

In [19]:
df

     A    B
0  4.0  9.0
1  4.0  3.0
2  4.0  9.0
3  4.0  3.0
4  4.0  NaN
5  3.0  1.0
6  3.0  NaN
7  2.0  NaN
8  NaN  2.0
9  NaN  3.0

In [20]:
df['B'] = df.groupby('A')['B'].apply(lambda x: x.fillna(x.mode().iloc[0]) if len(x.mode()) == 1 else x)

In [21]:
df

     A    B
0  4.0  9.0
1  4.0  3.0
2  4.0  9.0
3  4.0  3.0
4  4.0  NaN
5  3.0  1.0
6  3.0  1.0
7  2.0  NaN
8  NaN  NaN
9  NaN  NaN

In [22]:
df['B'] = df.groupby('A')['B'].apply(lambda x: x.replace(0 if len(x.mode()) > 1 else x))

In [23]:
# df.loc[df.groupby('A')['B'].agg(lambda x: len(x.mode())) > 1, 'B'] = 0