# Data Mining Project
### Giorgio Donati, g.donati24@studenti.unipi.it
### Pietro Francaviglia, p.francaviglia1@studenti.unipi.it
#### A.Y. 2021-2022

## Libraries and datasets

In [3]:
import math
import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt

In [5]:
# load datasets
basket_df = pd.read_csv('datasets/baskets_supermarket.csv')
categories_df = pd.read_csv('datasets/item_categories.csv')
items_df = pd.read_csv('datasets/items.csv')

## Basket dataset

In [6]:
basket_df.head()

,Unnamed: 0,date,shop_id,item_id,item_price,item_cnt_day,user_id,basket_id
0,32632,NaN,2.0,NaN,249.0,1.0,1.0,B11
1,33487,01.01.2013,2.0,20424.0,NaN,1.0,1.0,B11
2,32099,01.01.2013,2.0,6916.0,999.5,1.0,1.0,B11
3,33529,01.01.2013,2.0,19718.0,149.0,1.0,1.0,B11
4,31974,NaN,2.0,11828.0,1699.0,1.0,1.0,B11

In [7]:
basket_df.dtypes

Unnamed: 0        int64
date             object
shop_id         float64
item_id         float64
item_price      float64
item_cnt_day    float64
user_id         float64
basket_id        object
dtype: object

In [24]:
basket_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 504087 entries, 0 to 504086
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Unnamed: 0    504087 non-null  int64
 1   date          352861 non-null  object
 2   shop_id       469023 non-null  Int64
 3   item_id       405085 non-null  Int64
 4   item_price    451795 non-null  float64
 5   item_cnt_day  497039 non-null  Int64
 6   user_id       433351 non-null  Int64
 7   basket_id     437967 non-null  object
dtypes: Int64(4), float64(1), int64(1), object(2)
memory usage: 32.7+ MB

### Cleaning data

In [23]:
non_floating_attributes = ['shop_id', 'item_id', 'item_cnt_day', 'user_id']
for col in non_floating_attributes:
    basket_df[col] = basket_df[col].astype('Int64')

Unnamed: 0        int64
date             object
shop_id           Int64
item_id           Int64
item_price      float64
item_cnt_day      Int64
user_id           Int64
basket_id        object
dtype: object

TypeError: pivot() missing 1 required argument: 'columns'

## Other datasets

In [10]:
categories_df.head()

        item_category_name  item_category_id
0  PC - Гарнитуры/Наушники                 0
1         Аксессуары - PS2                 1
2         Аксессуары - PS3                 2
3         Аксессуары - PS4                 3
4         Аксессуары - PSP                 4

In [15]:
items_df.head()
items_df.dtypes

item_name           object
item_id              int64
item_category_id     int64
dtype: object

In [13]:
basket_df = basket_df.join(items_df)
basket_df.head()

ValueError: columns overlap but no suffix specified: Index(['item_id'], dtype='object')