# Data Mining Project
### Giorgio Donati, g.donati24@studenti.unipi.it
### Pietro Francaviglia, p.francaviglia1@studenti.unipi.it
#### A.Y. 2021-2022

## Libraries and datasets

In [1]:
from sklearn.ensemble import GradientBoostingClassifier

from t3_constants import *
from t3_utility import *

In [2]:
with open(f'{PICKLE_FOLDER}{TRAIN}{X}.pkl', 'rb') as f:
    train_x = pickle.load(f)
with open(f'{PICKLE_FOLDER}{TRAIN}{Y}.pkl', 'rb') as f:
    train_y = pickle.load(f)
with open(f'{PICKLE_FOLDER}{TEST}{X}.pkl', 'rb') as f:
    test_x = pickle.load(f)
with open(f'{PICKLE_FOLDER}{TEST}{Y}.pkl', 'rb') as f:
    test_y = pickle.load(f)

x = train_x.values
y = train_y.values

## Gradient Boosting

In [4]:
## Hyper-parameters grid search for KNN
max_depth = range(2,5)
min_samples_leaf = [1,3,5]
n_estimators = np.unique(np.logspace(1.9, 2.8, num=12).astype(int)).tolist()
hyperparams_grid = itertools.product(max_depth, min_samples_leaf, n_estimators)

results = []

for d,l,e in hyperparams_grid:
    gb_model = GradientBoostingClassifier(max_depth=d, min_samples_leaf=l, n_estimators=e)
    mean_val_score, std_val_score = cross_validation_summary(gb_model, x, y)
    res = d, l, e, mean_val_score, std_val_score
    results.append(res)

df = pd.DataFrame(results, columns=['max_depth', 'min_samples_leaf', 'n_estimators', 'mean_val_score', 'std_val_score'])

In [5]:
df.sort_values('mean_val_score', ascending=False).head(10)

    max_depth  min_samples_leaf  n_estimators  mean_val_score  std_val_score
34          2                 5           522        0.905702       0.020641
30          2                 5           245        0.902502       0.023002
32          2                 5           358        0.902489       0.026625
21          2                 3           432        0.902489       0.022451
31          2                 5           296        0.902489       0.024627
28          2                 5           168        0.900914       0.020766
29          2                 5           203        0.900902       0.021985
22          2                 3           522        0.900902       0.018851
33          2                 5           432        0.900902       0.023668
35          2                 5           630        0.900902       0.020788

In [6]:
df.groupby('min_samples_leaf')['mean_val_score', 'std_val_score'].mean()

/tmp/ipykernel_428873/3014412566.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df.groupby('min_samples_leaf')['mean_val_score', 'std_val_score'].mean()

                  mean_val_score  std_val_score
min_samples_leaf
1                       0.881213       0.036724
3                       0.884415       0.032244
5                       0.889290       0.033757

In [7]:
df.groupby('max_depth')['mean_val_score', 'std_val_score'].mean()

/tmp/ipykernel_428873/349772036.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df.groupby('max_depth')['mean_val_score', 'std_val_score'].mean()

           mean_val_score  std_val_score
max_depth
2                0.891661       0.026451
3                0.881648       0.037695
4                0.881610       0.038578

In [8]:
df.groupby('n_estimators')['mean_val_score', 'std_val_score'].mean()

/tmp/ipykernel_428873/2410122757.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df.groupby('n_estimators')['mean_val_score', 'std_val_score'].mean()

              mean_val_score  std_val_score
n_estimators
79                  0.879204       0.038113
95                  0.882054       0.036918
115                 0.882588       0.036110
139                 0.884897       0.034635
168                 0.885790       0.032945
203                 0.887918       0.033931
245                 0.885079       0.034142
296                 0.887742       0.032988
358                 0.886495       0.034402
432                 0.886854       0.033787
522                 0.885614       0.031627
630                 0.885436       0.031301

In [10]:
test_model = GradientBoostingClassifier(
    max_depth=2,
    min_samples_leaf=5,
    n_estimators=522
)

test_model.fit(x,train_y)
test_model.score(test_x.values, test_y)

0.910828025477707