# Data Mining Project
### Giorgio Donati, g.donati24@studenti.unipi.it
### Pietro Francaviglia, p.francaviglia1@studenti.unipi.it
#### A.Y. 2021-2022

## Libraries and datasets

In [11]:
from sklearn.svm import SVC

from t3_constants import *
from t3_utility import *

# Support Vector Classifier (RBF)
## Training

In [12]:
with open(f'{PICKLE_FOLDER}{TRAIN}{X}.pkl', 'rb') as f:
    train_x = pickle.load(f)
with open(f'{PICKLE_FOLDER}{TRAIN}{Y}.pkl', 'rb') as f:
    train_y = pickle.load(f)

In [13]:
# parameters dictionary for Decision Tree grid search
param_d = {
    KRL: ['rbf'],
    CPRM: [0.1, 0.5, 1, 10, 50, 100, 500, 1000],
    GMM: [0.001, 0.005, 0.01, 0.05, 0.1, 0.5]
}
# iteration on parameters to collect results
grid = itertools.product(*[param_d[key] for key in sorted(param_d)])
results = []
for c_param, gamma, kernel in grid:
    model = SVC(kernel=kernel, gamma=gamma, C=c_val)
    mean_val_score, std_val_score = cross_validation_summary(model, train_x.values, train_y.values)
    res = c_param, gamma, kernel, mean_val_score, std_val_score
    results.append(res)

# print top 5 combination results
result_df = pd.DataFrame(results, columns=sorted(param_d) + [MVS, SVS])
result_df.sort_values(MVS, ascending=False).head(8)

    c_param  gamma kernel  mean_val_score  std_val_score
20     10.0   0.01    rbf        0.945638       0.018584
32    100.0   0.01    rbf        0.945638       0.018584
14      1.0   0.01    rbf        0.945638       0.018584
26     50.0   0.01    rbf        0.945638       0.018584
8       0.5   0.01    rbf        0.945638       0.018584
44   1000.0   0.01    rbf        0.945638       0.018584
38    500.0   0.01    rbf        0.945638       0.018584
2       0.1   0.01    rbf        0.945638       0.018584

In [15]:
result_df.groupby(CPRM)[MVS, SVS].mean().sort_values(MVS, ascending=False)

/var/folders/qc/cq4vvhlx6msd3j5kh8vlw_cm0000gn/T/ipykernel_19829/2357791576.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  result_df.groupby(CPRM)[MVS, SVS].mean().sort_values(MVS, ascending=False)

         mean_val_score  std_val_score
c_param
0.1            0.917941       0.021717
0.5            0.917941       0.021717
1.0            0.917941       0.021717
10.0           0.917941       0.021717
50.0           0.917941       0.021717
100.0          0.917941       0.021717
500.0          0.917941       0.021717
1000.0         0.917941       0.021717

In [9]:
result_df.groupby(GMM)[MVS, SVS].mean().sort_values(MVS, ascending=False)

/var/folders/qc/cq4vvhlx6msd3j5kh8vlw_cm0000gn/T/ipykernel_19829/577236820.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  result_df.groupby('gamma')[MVS, SVS].mean()

       mean_val_score  std_val_score
gamma
0.001        0.888127       0.021057
0.005        0.932851       0.019425
0.010        0.945638       0.018584
0.050        0.920051       0.025395
0.100        0.920063       0.022740
0.500        0.900914       0.023100

In [10]:
test_SVC = SVC(C=100, gamma=0.1)
test_SVC.fit(train_x, train_y)
test_SVC.score(test_x, test_y)

NameError: name 'test_x' is not defined

### Polynomial kernel

In [ ]:
kernel = 'poly'

C_list = [0.1, 0.5, 1, 5, 10, 50, 100]
coeff_list = [0.5, 1, 1.5]
degree_list = [2, 3, 4]

hyperparams_grid = itertools.product(C_list, coeff_list, degree_list)

results = []

for C_val, coeff, deg in hyperparams_grid:
    SVC_model=SVC(kernel='poly', degree=deg, coef0=coeff, C=C_val)
    mean_val_score, std_val_score = cross_validation_summary(SVC_model, x, y)
    res = C_val, coeff, deg, mean_val_score, std_val_score
    results.append(res)

columns=['C', 'coeff', 'degree', MVS, SVS]
poly_df = pd.DataFrame(results, columns=columns)

In [ ]:
poly_df.sort_values(MVS, ascending=False).head(8)

       C  coeff  degree  mean_val_score  std_val_score
27   5.0    0.5       2        0.939263       0.020050
14   0.5    1.0       4        0.937663       0.018598
28   5.0    0.5       3        0.937663       0.019927
34   5.0    1.5       3        0.937651       0.021179
23   1.0    1.0       4        0.937651       0.024539
51  50.0    1.5       2        0.937638       0.025557
48  50.0    1.0       2        0.937638       0.025557
25   1.0    1.5       3        0.936063       0.020935

In [ ]:
poly_df.groupby('C')[MVS, SVS].mean()

/tmp/ipykernel_501099/648242800.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  poly_df.groupby('C')[MVS, SVS].mean()

       mean_val_score  std_val_score
C
0.1          0.891707       0.026550
0.5          0.919385       0.020576
1.0          0.924876       0.021080
5.0          0.933568       0.022981
10.0         0.927173       0.024476
50.0         0.927156       0.030234
100.0        0.922363       0.029795

In [ ]:
poly_df.groupby('coeff')[MVS, SVS].mean()

/tmp/ipykernel_501099/3886063982.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  poly_df.groupby('coeff')[MVS, SVS].mean()

       mean_val_score  std_val_score
coeff
0.5          0.916284       0.025981
1.0          0.923194       0.025729
1.5          0.923192       0.023586

In [ ]:
poly_df.groupby('degree')[MVS, SVS].mean()

/tmp/ipykernel_501099/236730163.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  poly_df.groupby('degree')[MVS, SVS].mean()

        mean_val_score  std_val_score
degree
2             0.919089       0.023492
3             0.922821       0.024337
4             0.920758       0.027467

In [ ]:
test_SVC = SVC(kernel='poly', C=0.5, degree=4, coef0=1)
test_SVC.fit(train_x, train_y)
test_SVC.score(test_x, test_y)

0.9363057324840764

# Testing

In [ ]:
with open(f'{PICKLE_FOLDER}{TEST}{X}.pkl', 'rb') as f:
    test_x = pickle.load(f)
with open(f'{PICKLE_FOLDER}{TEST}{Y}.pkl', 'rb') as f:
    test_y = pickle.load(f)